@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a,button,h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

#perfil{
    border-radius: 5%;
    width: 150px;
    height: 150px;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo img{
    height: 70px;
    width: 70px;
    border-radius:50%;
    margin: auto 20px;
}

.nav_ul{
    list-style: none;
}
.nav_ul li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_ul li a{
    transition: all 0.3s ease 0s;
}

.nav_ul li a:hover{
    color: rgba(0, 136, 169, 1);
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}